<nav>
<span class="logo">Kart Racing League</span>
<span class="links">
  <ul>
    <li>Zawodnicy</li>
    <li>Tabela</li>
    <li>Lista wyścigów</li>
    <li>Lista torów</li>
  </ul>
</span>
<span class="hamburger"><i class="fas fa-bars" (click)="showSideMenu('mobile-nav')" ></i></span>
</nav>

<div class="side-nav" id="mobile-nav">
  <div class="close"><i class="fas fa-times" (click)="closeSideMenu('mobile-nav')"></i></div>
  <ul>
    <li>Zawodnicy</li>
    <li>Tabela</li>
    <li>Lista wyścigów</li>
    <li>Lista torów</li>
  </ul>
</div>
